<h3>The fingerprint of the X509 Certificate</h3>
<div>
  <b><%= SamlIdp::Default::FINGERPRINT %></b>
</div>
<%= form_tag do %>
  <%= hidden_field_tag("SAMLRequest", params[:SAMLRequest]) %>

  <p>
    <%= label_tag :email %>
    <%= email_field_tag :email, params[:email], :autocapitalize => "off", :autocorrect => "off", :autofocus => "autofocus", :spellcheck => "false", :size => 30, :class => "email_pwd txt" %>
  </p>

  <p>
    <%= label_tag :password %>
    <%= password_field_tag :password, params[:password], :autocapitalize => "off", :autocorrect => "off", :spellcheck => "false", :size => 30, :class => "email_pwd txt" %>
  </p>

  <p>
    <%= submit_tag "Sign in", :class => "button big blueish" %>
    <%= link_to('Go back', root_path) %>
  </p>
<% end %>
